/*
  reZonator styles
  pigments.css is the default css file for syntax highlightning.
  We don't use syntax highlightning in this manual
  so it is easy to use this file for some app specific styles
*/

span.menuselection {
    color: maroon;
    font-style: italic;
}

span.elem-param {
    color: #555;
    font-weight: bold;
}

span.math-var {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.2em;
}

span.app-name {
    color: navy;
}

span.app-name-z {
    color: red;
}

