libs/lua-*
libs/*.tar.gz
bin/test/_tmp*
bin/rezonator
bin/rezonator.app
bin/rezonator.exe
bin/rezonator.qch
bin/rezonator.qhc
bin/assistant*
*.autosave
*.user*
*.exe
*.log
*.pyc
tmp
out
__pycache__
img/svgcleaner
.vscode
.venv
.ipynb_checkpoints
/1.*
/2.*
/help/_build
