body {
  display: flex;
  flex-direction: row;
}
.paper {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 125%;
  color: #222;
}
.drawing-and-formula {
  display: flex;
  flex-direction: row;
}
.formulas-column {
  margin-left: 40px;
  margin-right: 20px;
}
.frames {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
}
.frame {
  border: 1px dashed red;
}
.drawing {
  margin-left: 20px;
}
.stretch {
}
